body {
  font: 32px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ccc;
  background: white;
}

.title {
	font-size: 20px;
  font-weight: normal;
  color: #888;
  letter-spacing: -0.5px;
}

.icons a {
  color: #444;
}
.icons a:hover {
  color: #9bddf8;
}

.l { font-size: 22px; }
.m { font-size: 20px; }
.s { font-size: 18px; }
